.answer {
    background-color: var(--grey-3);
    padding: var(--space-8);
    cursor: pointer;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    cursor: pointer;
}
.answer:hover,
.input:checked + label {
    background-color: var(--grey-2);
    color: var(--gold-4);
}
@media (max-width: 600px) {
    .answer {
        padding: var(--space-4);
    }
}
@media (max-width: 600px) and (min-height:668px) {
    .answer {
        font-size: 3rem;
    }
}
@media (max-width: 361px) {
    .answer {
        font-size: 2.5rem;
    }
}