.button {
/* width: 20%; */
width: 15rem;
margin: 0 auto;
padding: var(--space-8);
font-size: 1.5rem;
font-family: var(--font-spiegel);
color: var(--gold-4);
background-color: var(--grey-cool);
border: 2px solid var(--gold-4);
}
.button:hover,
.button:active {
border-color: var(--gold-3);
color: var(--gold-3);
text-shadow: 0 0 2px var(--gold-1);
box-shadow: 0 0 5px 0 var(--gold-3);
cursor: pointer;
}
.button:disabled {
border-color: var(--gold-5);
color: var(--gold-5);
background-color: var(--grey-3);
}
@media (max-width: 600px) {
    .button {
        width: 13rem;
    }
}