.input {
    display: flex;
    flex-direction: column;
}
.input label {
    cursor: pointer;
    font-size: 2.5rem;
}
.input input{
    padding: var(--space-8);
    margin: 0 auto;
    background-color: var(--blue-7);
    color: var(--gold-3);
    width: 35%;
    border: none;
    border-bottom: 3px solid var(--gold-4);
    font-family: var(--font-spiegel);
    font-size: 1.5rem;
}
.input input:active,
.input input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid var(--gold-3);
}
@media (max-width: 768px) {
 .input input {
    width: 80%;
 }   
}
@media (min-width: 601px) and (max-width: 992px) {
    .input input {
        width: 85%;
        font-size: 3rem;
    }
}