.input {
    display: flex;
    flex-direction: column;
}
.input label {
    cursor: pointer;
    font-size: 2.5rem;
}
.input input{
    padding: var(--space-8);
    margin: 0 auto;
    background-color: transparent;
    color: var(--gold-3);
    width: 35%;
    border: none;
    border-bottom: 3px solid var(--gold-4);
    font-family: var(--font-spiegel);
    font-size: 2.5rem;
}
.input input:active,
.input input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid var(--gold-3);
}
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../public/arrow.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 1rem;
    width: 80%;
    background-color: var(--grey-3);
    color: var(--gold-4);
    border: 2px solid var(--gold-4);
    outline: none;
    font-family: var(--font-spiegel);
    font-size: 1.5rem;
};

@media (max-width: 768px) {
 .input input {
    width: 80%;
 }   
}
@media (min-width: 601px) and (max-width: 992px) {
    .input input {
        width: 85%;
        font-size: 3rem;
    }
}