.layout {
    height: 100vh;
    position: relative;
}
.layout>a {
    font-family: var(--font-beaufort);
    font-size: 6rem;
    color: var(--gold-4);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}
@media (max-width: 768px) {
    .layout>a {
        display: none;
    }
}
@media (max-width: 768px) and (min-height:668px) {
    .content {
        gap: 2rem;
    }
}