.question {
  width: fit-content;
  max-width: 50%;
  margin: 0 auto;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, var(--gold-4), var(--gold-3));
  border-left: 0;
  border-right: 0;
  padding: var(--space-4);
  font-size: 3rem;
}
@media (max-width: 600px) {
  .question{
    max-width: unset;
    width: 100vw;
    background-color: var(--blue-7);
  }
}
@media (max-width: 768px) and (min-height:668px) {
  .question {
    font-size: 3.4rem;
    }
}