:root {
  --blue-1: #CDFAFA;
  --blue-2: #0AC8B9;
  --blue-3: #0397AB;
  --blue-4: #005A82;
  --blue-5: #0A323C;
  --blue-6: #091428;
  --blue-7: #0A1428;

  --gold-1: #F0E6D2;
  --gold-3: #C8AA6E;
  --gold-4: #C89B3C;
  --gold-5: #785A28;

  --grey-1: #A09B8C;
  --grey-2: #3C3C41;
  --grey-3: #1E2328;
  --grey-cool: #1E282D;
  --black: #010A13;

  --background: linear-gradient(var(--blue-6), var(--blue-7));

  --space-4: .25rem;
  --space-8: .5rem;
  --space-10: .625rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}
html,
body {
  max-width: 100vw;
  min-height: 100vh;
}
h1,h2,h3,h4 {
  font-family: var(--font-beaufort);
  color: var(--gold-4);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  color: var(--gold-3);
}
p,a,label {
  font-family: var(--font-spiegel);
  color: var(--gold-3);
  font-size: 1.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

@media (max-width: 600px) and (min-height: 740px) {
    h1 {
      font-size: 4.2rem;
    }
    h2 {
      font-size: 3.2rem;
    }
    p,a,label {
  font-size: 2.2rem;
}
}
@media (min-width: 601px) and (max-width: 992px) {
  h1 {
      font-size: 4.5rem;
    }
    h2 {
      font-size: 4rem;
    }
    p,a,label {
    font-size: 3rem;
}
}