:root {
  --blue-1: #CDFAFA;
  --blue-2: #0AC8B9;
  --blue-3: #0397AB;
  --blue-4: #005A82;
  --blue-5: #0A323C;
  --blue-6: #091428;
  --blue-7: #0A1428;

  --gold-3: #C8AA6E;
  --gold-4: #C89B3C;
  --gold-5: #785A28;

  --grey-1: #A09B8C;
  --grey-2: #3C3C41;
  --grey-3: #1E2328;
  --grey-cool: #1E282D;
  --black: #010A13;

  --background: linear-gradient(var(--blue-6), var(--blue-7));
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-beaufort);
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
h1,h2,h3,h4 {
  font-family: var(--font-beaufort);
  color: var(--gold-4);
}
p,a {
  font-family: var(--font-spiegel);
  color: var(--gold-3);
}
a {
  color: inherit;
  text-decoration: none;
}

